.centered {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    position: relative;
    width: 250px;
}

.centered h1 {
    position: absolute;
    left: 0;
    top: 0;
    padding: 100px;
    width: 218px;
    color: black;
    margin: 5px;
    text-align: center;
    font-size: 75px;
}

.background {
    background-color: #00A591;
}

.background-color {
    background-color: #6B5B95;
    padding-bottom: 200px;
    text-align: center;
}